
     <!-- About Section -->
     <section class="success no-print" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="separating-line">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <p>{{ site.description }} In here you can find some of my exciting, highlighted research / engineering works I have been fortunate to contribute over the years. To me, research has become the profession in which I can excercise my creativity and leadership to the fullest. And the rewards, or the "Eureka" moments, are just as equally exhilarating and addictive.</p>
                </div>
                <div class="col-lg-6">
                    {% include years_elap.html from="2008" %}
                    <p>Outside of research, I probably spend the most of my time on book reading. Where else can you find gripping true stories about corporate politics and dramas, bleak fictional apocalytic worlds, or intriguing interstellar travels better than well-written, fascinating books about those subjects? Maybe I am mixing up my work-life, but I always curious about wwhat would happen if I apply some of the ideas in those stories into my daily life.</p>
                    <!-- <p>{% if site.banner %} -->
                        <!-- {% if site.banner-link %}<a href="{{ site.banner-link }}" target="_blank">{% endif %} -->
                        <!-- <span class="about-banner">{{ site.banner }}{% if site.banner-link %} [LINK]{% endif %}</span> -->
                        <!-- {% if site.banner-link %}</a>{% endif %} -->
                    <!-- {% endif %}</p> -->
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>