
     <!-- About Section -->
     <section class="success no-print" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="separating-line">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <p>{{ site.description }} </p>
                </div>
                <div class="col-lg-6">
                    {% include years_elap.html from="2008" %}
                    <p>Outside of research, I probably spend the most amount of time on book reading. Where else can you find gripping true stories about corporate politics and drammas, bleak fictional appocalytic worlds, or intriguing interstellar travels better than well-written, fascinating books about those subjects? Maybe I am mixing up my work-life, but I always curious about how I can implement some of the concepts in those stories to my daily life.</p>
                    <p>{% if site.banner %}
                        {% if site.banner-link %}<a href="{{ site.banner-link }}" target="_blank">{% endif %}
                        <span class="about-banner">{{ site.banner }}{% if site.banner-link %} [LINK]{% endif %}</span>
                        {% if site.banner-link %}</a>{% endif %}
                    {% endif %}</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>